@charset "utf-8";

/* CSS Document */
.wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.member-center {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1200px;
	height: 680px;
	transform: translate(-50%, -50%);
}

.close {
	display: flex;
	align-items: center;
	position: absolute;
	right: 10px;
	top: 8px;
}

.close a {
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 32px;
}

.close img {
	vertical-align: middle;
	padding-bottom: 3px;
}

.close a:hover {
	background: #f2f2f2;
	border-radius: 60px;
}

/*-----------------------------MENU--------------------------------*/

.menu{
	width: 70px;
	height: 680px;
	background:#000000d8;
	border-radius: 15px 0 0 15px;
	padding:6px 0;
	font-size:12px;
	color:#ffffff;
	z-index:10;
	

}

.menu ul li{
	position: relative;
	height: 60px;
	margin:8px 0;
	text-align: center;
	padding:10px 0;
	
}

.menu ul li:hover{
	color:#f5946c;
	background:#ffffff;
	border-radius: 6px;
	box-shadow: 0px 0px 10px #48484840;
	
}
.menu ul li:hover::after{
	content: "";
	position: absolute;
	top:50%;
	right:-9px;
	border-color: transparent transparent transparent #ffffff;
	border-style: solid solid solid solid;
	border-width: 8px 0px 8px 10px;
	transform: translate(0,-50%);
	filter: drop-shadow(3px 0 2px  #48484824);
}

.menu ul li.active{
	position: relative;
	color:#f5946c;
	background:#ffffff;
	border-radius: 6px;
	box-shadow: 0px 0px 10px #48484840;
}
.menu ul li.active::after{
	content: "";
	position: absolute;
	top:50%;
	right:-9px;
	border-color: transparent transparent transparent #ffffff;
	border-style: solid solid solid solid;
	border-width: 8px 0px 8px 10px;
	transform: translate(0,-50%);
	filter: drop-shadow(3px 0 2px  #48484824);
}

.menu ul li p{
	margin-top:5px;
}
.menu ul li.active>p{
	
	color:#f5946c;
}


.personal::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_personal_normal.svg) no-repeat;
	margin:0 auto;
}
.personal:hover::before,.personal.active::before{
	background:url(../images/ic_menu_personal_active.svg) no-repeat;
}

.wallet::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_wallet_normal.svg) no-repeat;
	margin:0 auto;
}
.wallet:hover::before,.wallet.active::before{
	background:url(../images/ic_menu_wallet_active.svg) no-repeat;
}

.deposit::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_deposit_normal.svg) no-repeat;
	margin:0 auto;
}
.deposit:hover::before,.deposit.active::before{
	background:url(../images/ic_menu_deposit_active.svg) no-repeat;
}

.withdraw::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_withdraw_normal.svg) no-repeat;
	margin:0 auto;
}
.withdraw:hover::before,.withdraw.active::before{
	background:url(../images/ic_menu_withdraw_active.svg) no-repeat;
}

.bet::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_betrecord_normal.svg) no-repeat;
	margin:0 auto;
}
.bet:hover::before,.bet.active::before{
	background:url(../images/ic_menu_betrecord_active.svg) no-repeat;
}

.account::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_accountrecord_normal.svg) no-repeat;
	margin:0 auto;
}
.account:hover::before,.account.active::before{
	background:url(../images/ic_menu_accountrecord_active.svg) no-repeat;
}

.profit::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_profit_normal.svg) no-repeat;
	margin:0 auto;
}
.profit:hover::before,.profit.active::before{
	background:url(../images/ic_menu_profit_active.svg) no-repeat;
}

.message::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_message_normal.svg) no-repeat;
	margin:0 auto;
}
.message:hover::before,.message.active::before{
	background:url(../images/ic_menu_message_active.svg) no-repeat;
}

.friend::before{
	content:"";
	display:block;
	width: 22px;
	height: 22px;
	background:url(../images/ic_menu_friend_normal.svg) no-repeat;
	margin:0 auto;
}
.friend:hover::before,.friend.active::before{
	background:url(../images/ic_menu_friend_active.svg) no-repeat;
}




/*-----------------------------CONTENT-TAB--------------------------------*/

.content {

	background: #ffffff;
	border-radius: 0 15px 15px 0;
	width: 1130px;
	height: 680px;
}

.tab {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #f5f5f5;
	padding: 0 50px 0 40px;
}

.paging ul li {
	position: relative;
	float: left;
	width: 100px;
	font-size: 16px;
	color: #626262;
	/* padding: 0 6px; */
	/* margin: 0 10px; */
	text-align: center;
	line-height: 50px;
}

.paging ul li:hover,
.paging ul li.active {
	color: #f5946c;
}

.paging ul li:hover::after,
.paging ul li.active::after {
	content: "";
	display: block;
	width: 90px;
	height: 3px;
	background: #f5946c;
	position: absolute;
	bottom: 1px;
	border-radius: 3px 3px 0 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.clear-both {
	clear: both;
}

.amount {
	display: flex;
	align-items: center;
}

.main-account {
	float: left;
	font-size: 15px;
	line-height: 50px;
	color: #737476;
}

.main-account span {
	font-size: 17px;
	color: #52c94b;
	margin: 0 26px 0 14px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 500;
}



/*-----------------------------ACCOUNT INFORMATION--------------------------------*/

.account-container {
	width: 1130px;
	height: 680px;
	padding: 20px 30px;
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;

}

.account-content {
	height: calc(640px/3);
	width: 400px;
	margin-right: 50px;
}

.title-purple::before {
	background: #ca83f3;
}

.title-orange:before {
	background: #f5946c;
}

.title-red:before {
	background: #ff6c8f;
}

.title-green:before {
	background: #52c94b;
}

.account-title {
	width: 400px;
	height: 30px;
	font-size: 16px;
	line-height: 16px;
	color: #3a3a3a;
	font-weight: 500;
	display: inline-block;
}

.account-title::before {
	content: '';
	width: 2px;
	height: 16px;
	display: block;
	float: left;
	margin-right: 10px;
}

.account-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px 65px;
	font-size: 16px;
	width: 400px;
	height: 160px;
	background-color: #fff;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	cursor: pointer;
}

.account-box:hover {
	background-color: #fbfbfb;
	border: 1px solid #fbfbfb;
	-webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.07);
}

/* btn */
.account-modify {
	opacity: 0;
	visibility: hidden;
	text-align: center;
	line-height: 30px;
	width: 100px;
	height: 30px;
	color: #f5946c;
	border: 1px solid #f5946c;
	border-radius: 15px;
	margin: 0 auto;
}

.account-box:hover>.account-modify {
	opacity: 1;
	visibility: visible;
}

.account-pw,
.account-id {
	width: 100%;
}

.account-pw p,
.account-id p {
	color: #a1a1a2;
	line-height: 21px;
	display: inline-block;
	padding: 5px 10px;
	font-weight: 400;
}

.text-copy {
	color: #68b6ff;
}

.text-copy:hover {
	color: #4693db;
}
/*-----------------------------SLIDE-OUT-INFORMATION---------------------------------*/

.slide{
	position: absolute;
	right: 0;
}

.slide-inner{
	float:left;
}
.inner-padding{
	padding:15px 50px;
	height: 680px;
	position: relative;
	background:#ffffff;
	border-radius: 0 15px 15px 0;
	box-shadow: -10px 0px 18px #544d4e8c;
}

.close-slide,.return{
	display:flex;
	align-items:center;
	position: absolute;
	left:10px;
	top:8px;
}
.close-slide a,.return a{
	width: 34px;
	height: 34px;
	text-align : center;
	line-height : 32px;
}
.close-slide img,.return img{
	vertical-align:middle;
	padding-bottom: 3px;
}
.close-slide a:hover,.return a:hover{
	background: #f2f2f2;
	border-radius: 60px;
}

.orange-title{
	font-size:18px;
	line-height: 20px;
	border-left:3px solid #f7a26f;
	padding:0 10px;
	margin:0 2px;
	color:#3a3a3a;
}

input:disabled {
	background: #f9f9f9;
	color:#bcbcbc;
}


.input-content{
	padding-top:24px;
}

.input-content label{
	font-size: 14px;
	color:#303030;
	display:block;
	margin-bottom:8px;
}
.input-content input{
	width: 320px;
	height: 40px;
	font-size:14px;
	border:1px solid #dadce0;
	border-radius: 4px;
	padding-left:15px;
	margin-bottom:18px;
	font-family: 'Noto Sans TC','Roboto',Arial;
}
input:focus{
	border:1px solid #3291fa;
	outline:4px solid #3291fa33;
	outline-offset: -4px ;
	
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bcbcbc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bcbcbc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bcbcbc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bcbcbc;
}

.slidemask{
	display:block;
	position: absolute;;
	top:0;
	right:0;
	width: 1130px;
	height: 680px;
	background:#00000099;
	border-radius: 0 15px 15px 0;
}


.slide-content{
	position: absolute;
	right:0;
	top:0;
	display:block;
	float:left;
/*	animation-name:slideout-right;
	animation-duration: 1s; */
}

@keyframes slidein-right{
	from{
		opacity: 0;
		right:-140px;
	}
	to{
		opacity: 1;
		right:0px;
	}
}

@keyframes slideout-right{
	from{
		opacity: 1;
		right:0px;
	}
	to{
		opacity: 0;
		right:-140px;
	}
}

.open{
	display:block;
	animation-name:slidein-right;
	animation-duration: 1s;
}

.slide-btntab{
	padding:55px 18px;
	float:left;
	position: relative;
}
.slide-btntab img{
	width: 40px;
	margin-bottom:18px;
	opacity: 0.8;
}

.s-information.active img,.s-information:hover img{
	filter: drop-shadow(0px 4px 5px  #f5a270a5);
	opacity: 1;
}
.s-information.active::before,.s-information:hover::before{
	content:"個人資料";
	position: absolute;
	top:63px;
	left:-64px;
	background:#313131d8;
	color:#ffffffe5;
	font-size:12px;
	font-weight: 300;
	padding:6px 12px;
	border-radius: 6px;
}

.s-login.active img,.s-login:hover img{
	filter: drop-shadow(0px 4px 5px  #c898f3a5);
	opacity: 1;
}
.s-login.active::before,.s-login:hover::before{
	content:"登錄密碼";
	position: absolute;
	top:122px;
	left:-64px;
	background:#313131d8;
	color:#ffffffe5;
	font-size:12px;
	font-weight: 300;
	padding:6px 12px;
	border-radius: 6px;
}

.s-funds.active img,.s-funds:hover img{
	filter: drop-shadow(0px 4px 5px  #68d362a5);
	opacity: 1;
}
.s-funds.active::before,.s-funds:hover::before{
	content:"資金密碼";
	position: absolute;
	top:181px;
	left:-64px;
	background:#313131d8;
	color:#ffffffe5;
	font-size:12px;
	font-weight: 300;
	padding:6px 12px;
	border-radius: 6px;
}

.s-bank.active img,.s-bank:hover img{
	filter: drop-shadow(0px 4px 5px  #fd7a9da5);
	opacity: 1;
}
.s-bank.active::before,.s-bank:hover::before{
	content:"綁定銀行卡";
	position: absolute;
	top:240px;
	left:-75px;
	background:#313131d8;
	color:#ffffffe5;
	font-size:12px;
	font-weight: 300;
	padding:6px 12px;
	border-radius: 6px;
}


.input-content .wrong {
	border: 1px solid #f15656;
	outline: 4px solid #f1565633;
	outline-offset: -4px;
	margin-bottom: 4px;
	border-radius: 4px;
	/*	box-shadow: 1px 1px 1px 1px 0px #f1565699;*/
}

.wrong-message {
	font-size: 13px;
	color: #f15656;
	margin-bottom: 18px;
}

.wrong-message::before {
	content: "";
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(../images/ic_wrong_message.svg) no-repeat;
	margin-right: 5px;
	vertical-align: middle;
	margin-bottom: 2px;
}

.btn-complete {
	display: block;
	width: 100px;
	height: 30px;
	background: linear-gradient(to right, #f48969 0%, #fbc378 100%);
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0px 5px 10px #fbd6c0;
	margin: 18px auto 0 auto;
	letter-spacing: 2px;
}

.btn-complete:hover {
	filter: opacity(0.8);
}

.btn-undone {
	display: block;
	width: 100px;
	height: 30px;
	background: linear-gradient(to right, #d5d5d5 0%, #c0c0c0 100%);
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	border-radius: 15px;
	margin: 18px auto 0 auto;
	letter-spacing: 2px;
}
